<div class="row">
<div class="span10 offset3" , id="profile">
<h1><b>Sign up</b></h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  
  <div><%= f.label :first_name , 'First Name:' %> 
  <%= f.text_field :first_name, :autofocus => true %></div>

  <div><%= f.label :last_name, 'Last Name:'%> 
  <%= f.text_field :last_name, :autofocus => true %></div>

  <div><%= f.label :email,'Email:' %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password, 'Password:' %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, 'Re-Enter Password:' %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :date_of_birth, 'Date of Birth:' %>
  <%= f.date_select :date_of_birth, :start_year => 1980, :end_year => 2013  %></div>

  <div>
  <%= f.label :gender,'Gender:' %>
 	<%= f.radio_button :gender, 'male', :checked => true %> Male
 	<%= f.radio_button :gender, 'female' %> Female  
 </div>
 
<br/>
  <div>
  	<%= f.label :address, 'Address:' %>
 	  <%= f.text_area :address %> 
  </div>

  <div>
  	<%= f.label :role, "Role:" %>
 	  <%= f.radio_button :role, 'admin', :checked => true %> admin
  	<%= f.radio_button :role, 'user' %> user  
 </div>
 
  
 <br /> 
  <div>
  	<%= f.label :hobbies, "Hobbies:" %>
 	  <%= f.check_box :hobbies, {:multiple => "true"}, "movie", nil %> Movie
  	<%= f.check_box :hobbies, {:multiple => "true"}, "dancing", nil %> Dancing
 	  <%= f.check_box :hobbies, {:multiple => "true"}, "singing", nil %> Singing
  	<%= f.check_box :hobbies, {:multiple => "true"}, "reading", nil %> Reading 
 </div>
  
<br /> <br / >
  <div>
  	<%= f.submit "Sign up" ,  class: "btn btn-large btn-primary" %>
  </div>

<% end %>
<div style="padding-bottom:20px;">
<%= render "devise/shared/links" %>
</div>
</div></div>