<% if user_signed_in? %> 
      <% if current_user.role == 'admin' %>
            <table class="table table-hover">
              <tr>
                <td>User Id</td>
                <td>First name</td>
                <td>Last name</td>
                 <td>Email</td>
                <td>Address</td>
                <td>Gender</td>
                <td>Date of Birth</td>
              </tr>
              <% @admin_user.each do |u| %>
              <tr>
                <td><%= u.id %></td>
                <td><%= u.first_name %></td>
                <td><%= u.last_name %></td>
                 <td><%= u.email %> </td>
                <td><%= u.address %> </td>
                <td><%= u.gender %> </td>
                <td><%= u.date_of_birth %> </td>
                </td>
              </tr>
              <% end %>
            </table>
      <% else %>
                <div class="row">
                   <div class="span3" , id="profile" style="min-height:400px;">
                    <section>
                    <h3>Blogs :</h3>
                    <hr>
                    <ui>
                    <% @blog_masters.each do |blog_master| %>
                        <h5><li><%= blog_master.blog_name %></li></h5>
                    <% end %>
                    </ui>
                    </section>              
                    </div>
                   <div class="span8 offset0" , id="profile"  style="min-height:400px;">
                    <section>
                      <h3><%= current_user.first_name %> 's blog <%= link_to 'New Blog', new_blog_master_path, class: "btn btn-large btn-primary" %></h3>
                      <hr>
                            <div id="accordion">
                                <% @blog_masters.each do |blog_master| %>
                                  <h3><b><%= blog_master.blog_name %></b></h3>
                                  <div>
                                      <p><b id="time">Created at: <%= blog_master.created_at.strftime("%d %b. %Y")  %></b><br /><br /><%= blog_master.discription %></p>
                                      <%= link_to 'Show', blog_master,  class: "btn btn-primary" %>
                                      <%= link_to 'Edit', edit_blog_master_path(blog_master),  class: "btn btn-primary"  %>
                                      <%= link_to 'Destroy', blog_master, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-primary"  %>
                                      <b>Post:   <%= @post_count = PostMaster.count(:conditions => { 
                                       :blog_master_id => blog_master.id  }) %></b>
                                       <hr>
                                  </div>
                                <% end %>
                               </div>
                    </section>              
                    </div>          
                   <section>
                   <div class="span0 offset0" , id="profile"> 
                    <h3>Profile:</h3>
                    <hr>
                      <%= link_to image_tag("user.jpg"), class: "img-polaroid" %>
                     <hr>
                     <div><h5>First Name: <%= current_user.first_name %></h5></div>
                     <div><h5>Last Name: <%= current_user.last_name %></h5></div>
                     <div><h5>Date of Birth: <%= current_user.date_of_birth.strftime("%d %b %Y") %></h5></div>             
                     <div><h5>Gender: <%= current_user.gender %></h5></div>
                      <%= link_to "Edit...", edit_user_registration_path %>
<!--                       <h3>Followers: count</h3>
                      <ui>
                        <li><h5>User 1</h5></li>
                        <li><h5>User 2</h5></li>
                        <li><h5>User 3</h5></li>
                        <li><h5>User 4</h5></li>
                        <li><h5>User 5</h5></li>
                      </ui> -->
                    </section>
                    </div>
                </div>
      <% end %>
<% else %>
    <div class="center">
      <p style="font-size:40px; padding-top:40px;"><b>Welcome to the User Blog</b></p>
      <p style="color:gray;padding-bottom:20px;">This is the home page for the blog application.</p>
     <div class="aiwinSlider">
        <ul>
            <li><img src="assets/slides/banner1.jpg" height="247" width="1003" alt="" /></li>
            <li><img src="assets/slides/banner2.png" height="247" width="1003" alt="" /></li>
            <li><img src="assets/slides/banner3.jpg" height="247" width="1003" alt="" /></li>
            <li><img src="assets/slides/banner4.jpg" height="247" width="1003" alt="" /></li>
        </ul>
        <div class="aiwinClear"></div>
    </div><!-- End of aiwinSlider plugin -->
  </div>
<% end %>






<script>
$( "#accordion" ).accordion();
</script>

