<div class="row">
<div class="span12 offset2" , id="profile">
<h1><%= @blog_master.blog_name %>  </h1>

<%= link_to 'Crate New Post', new_post_master_path, class: "btn btn-large btn-primary" %>
<br/> <br/>

<% @post_masters.each do |post_master| %>
 <% @post_count = 0  %>
  <% @post_count = Comment.count(:conditions => { 
                                         :post_master_id => post_master.id  }) %>
  <div style = " <%= bg_select(@post_count) %> "  id= "commentUI">
    <h3><%= post_master.post_name %></h3><br />
        <p>
          <p><b id="time">Created at: <%= post_master.created_at %></b><br /><br />
          <i><%= post_master.discription %></i>
        </p><br />
    
      <%= link_to 'Show', post_master, class: "btn btn-primary" %>
      <%= link_to 'Edit', edit_post_master_path(post_master), class: "btn btn-primary" %>
      <%= link_to 'Destroy', post_master, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %><br /><br />
      <div id="buttonUI"><b> Comments: <%= @post_count %></b> </div>  
  </div>
  <br />
<% end %>

<%= link_to 'Back', blog_masters_path, class: "btn btn-large btn-primary" %>





</div></div>
