<p id="notice"><%= notice %></p>

<p>
  <strong>Post name:</strong>
  <%= @post_master.post_name %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @post_master.discription %>
</p>

<p>
  <strong>Blog master:</strong>
  <%= @post_master.blog_master_id %>
</p>

<%= link_to 'Edit', edit_post_master_path(@post_master) %> |
<%= link_to 'Back', post_masters_path %>
