<div class="row">
<div class="span8 offset3" , id="profile">
<h1><b>Sign in</h1></b>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>


  <div><% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me, {:multiple => "true"}, :remember_me, nil %> Remember me 
  <% end -%></div><br />

  <div><%= f.submit "Sign in" , class: "btn btn-large btn-primary" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div></div>